#canvas { 
    border: 2px solid rgb(121, 219, 236); 
    background-image: url(https://es.pngtree.com/freebackground/lawn-grass-background-material_1124967.html);
    margin-right: 500px;
    float: right;

}